@media (prefers-color-scheme: light) {
  :root {
    /* Colors */
    --tag-color: #dfa6a2;
    --main-color: #d1d0b7;
    --article-color: #fff;
    --nav-color: rgba(129, 150, 143, 1);
    --nav-color-lighter: rgb(153, 177, 169);
    --text-color: rgba(104, 99, 95, 1);
    --button-color: #eccfc1;
    --text-color-lighter: rgba(104, 99, 95, 0.7);

    /* Fonts */
    --deco-font: "Permanent Marker";
    --main-font: "Open Sans";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --tag-color: #708ea7;
    --main-color: #31414d;
    --article-color: #455a6b;
    --nav-color: rgba(29, 38, 45, 1);
    --nav-color-lighter: rgb(39, 52, 61);
    --text-color: #d1d0b7;
    --button-color: #3b4d5c;
    --text-color-lighter: #fff;

    /* Fonts */
    --deco-font: "Permanent Marker";
    --main-font: "Open Sans";
  }
}

* {
  margin: 0;
}

body {
  font-family: var(--deco-font);
  background: var(--main-color);
}

header h1 {
  font-size: 2.3rem;
}

h3 {
  margin-bottom: 0.5rem;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

header {
  color: #fff;
  display: block;
  position: fixed;
  z-index: 1;
  padding: 1rem;
  width: 100vw;
  background: var(--nav-color);
  font-size: 1rem;
  text-align: center;
}

main {
  color: var(--text-color);
  font-family: var(--main-font);
  padding: 6rem 1rem 6rem 1rem;
}

.profile-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile-pic {
  height: 10rem;
  border-radius: 90%;
  margin: 0.5rem;
}

article {
  display: block;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  background: var(--article-color);
  border-radius: 10px;
}

article p {
  margin-bottom: 1rem;
  margin: 0.5rem;
}

article h3 {
  margin-left: 0.5rem;
}

article button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  width: inherit;
  padding: 0;
}

article li {
  margin-left: 0.5rem;
}

article li a {
  color: #dfa6a2;
  text-decoration: none;
}

article button {
  border: none;
  border-radius: 10px;
  background: var(--button-color);
  color: var(--text-color);
  padding: 0.5rem;
}

article button:hover {
  background: var(--tag-color);
  color: #fff;
}

article button:focus {
  border: 1px dotted var(--nav-color);
  color: #fff;
}

.skill-tags ul {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 0 1rem 0;
}

blockquote {
  padding: 1.5rem;
}

blockquote p {
  quotes: '"';
  color: var(--text-color-lighter);
  font-style: italic;
  text-indent: -1.2rem;
}

blockquote p:before {
  content: open-quote;
  color: var(--tag-color);
  font-size: 3rem;
  line-height: 3rem;
}

.skill-tags li {
  border-radius: 10px;
  text-align: center;
  background: var(--tag-color);
  color: #fff;
  width: 3rem;
}

.checked {
  display: block;
  position: absolute;
  right: 1rem;
  top: -0.5rem;
  width: 1rem;
  height: 1.3rem;
}
.checked:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.unchecked {
  display: block;
  position: absolute;
  right: 1rem;
  top: -0.5rem;
  width: 1rem;
  height: 1.3rem;
}

.unchecked:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

textarea {
  background: var(--article-color);
  color: var(--text-color);
  border: 1px dotted var(--tag-color);
  border-radius: 10px;
  margin-left: 0.5rem;
  width: 60%;
  padding: 0.5rem;
}

textarea::placeholder {
  color: var(--text-color-lighter);
}

footer {
  background: var(--nav-color);
  display: block;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100vw;
}

footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

footer a:hover {
  background: var(--nav-color-lighter);
  transition: 0.3s ease-in-out;
}

.active-p {
  background: var(--nav-color-lighter);
}

footer a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1.5rem;
}

.f-home img,
.f-create img,
.f-profile img,
.f-bookmark img {
  width: 2rem;
  height: 2rem;
  object-fit: scale-down;
}
