/* Light Mode */

@media (prefers-color-scheme: light) {
  :root {
    /* Colors */
    --tag-color: #dfa6a2;
    --main-color: #d1d0b7;
    --article-color: #fff;
    --nav-color: rgba(129, 150, 143, 1);
    --nav-color-lighter: rgb(153, 177, 169);
    --text-color: rgba(104, 99, 95, 1);
    --button-color: #eccfc1;
    --text-color-lighter: rgba(104, 99, 95, 0.7);

    /* Fonts */
    --deco-font: "Permanent Marker";
    --main-font: "Open Sans";
  }

  .home-i,
  .bookmark-i,
  .create-i,
  .profile-i {
    fill: var(--main-color);
    width: 2.5rem;
    height: 2.5rem;
  }

  .home-i:hover,
  .bookmark-i:hover,
  .create-i:hover,
  .profile-i:hover {
    fill: var(--article-color);
    transition: fill 0.3s ease-in;
  }

  .active-page {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      fill: var(--main-color);
    }
    100% {
      fill: var(--article-color);
    }
  }
}

/* Dark Mode */

@media (prefers-color-scheme: dark) {
  :root {
    /* Colors */
    --tag-color: #708ea7;
    --main-color: #31414d;
    --article-color: #455a6b;
    --nav-color: rgba(29, 38, 45, 1);
    --nav-color-lighter: rgb(39, 52, 61);
    --text-color: #d1d0b7;
    --button-color: #3b4d5c;
    --text-color-lighter: #fff;

    /* Fonts */
    --deco-font: "Permanent Marker";
    --main-font: "Open Sans";
  }

  .home-i,
  .bookmark-i,
  .create-i,
  .profile-i {
    fill: var(--main-color);
    width: 2.5rem;
    height: 2.5rem;
  }

  .home-i:hover,
  .bookmark-i:hover,
  .create-i:hover,
  .profile-i:hover {
    fill: var(--text-color);
    transition: fill 0.3s ease-in;
  }

  .active-page > svg {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      fill: var(--main-color);
    }
    100% {
      fill: var(--text-color);
    }
  }
}

/* Base */

.page {
  display: none;
}

.current {
  display: block;
}

* {
  margin: 0;
}

body {
  font-family: var(--deco-font);
  background: var(--main-color);
}

header h1 {
  font-size: 2.3rem;
  position: relative;
}

header h1:after {
  content: "?!";
  display: block;
  position: absolute;
  color: var(--tag-color);
  z-index: -1;
  top: -3rem;
  right: 8rem;
  font-size: 7rem;
}

h3 {
  margin-bottom: 0.5rem;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

header {
  color: #fff;
  display: block;
  position: fixed;
  z-index: 1;
  padding: 1rem;
  width: 100vw;
  background: var(--nav-color);
  font-size: 1rem;
  text-align: center;
}

main {
  color: var(--text-color);
  font-family: var(--main-font);
  padding: 6rem 1rem 6rem 1rem;
}

.profile-name {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.profile-pic {
  height: 10rem;
  border-radius: 90%;
  margin: 0.5rem;
}

article {
  display: block;
  padding: 1rem;
  margin: 1rem;
  position: relative;
  background: var(--article-color);
  border-radius: 10px;
}

article p {
  margin-bottom: 1rem;
  margin: 0.5rem;
}

article h3 {
  margin-left: 0.5rem;
}

article button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

article ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  width: inherit;
  padding: 0;
}

article li {
  margin-left: 0.5rem;
}

article li a {
  color: #dfa6a2;
  text-decoration: none;
}

article button {
  border: none;
  border-radius: 10px;
  background: var(--button-color);
  color: var(--text-color);
  padding: 0.5rem;
}

article button:hover {
  background: var(--tag-color);
  color: #fff;

  transition: all 0.3s ease-in;
}

article button:focus {
  border: 1px dotted var(--nav-color);
  color: #fff;
}

.skill-tags ul {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 0 1rem 0;
}

.skill-tags li {
  border-radius: 10px;
  text-align: center;
  background: var(--tag-color);
  color: #fff;
  width: 4rem;
}

blockquote {
  padding: 1.5rem;
}

blockquote p {
  quotes: '"';
  color: var(--text-color-lighter);
  font-style: italic;
  text-indent: -1.2rem;
}

blockquote p:before {
  content: open-quote;
  color: var(--tag-color);
  font-size: 3rem;
  line-height: 3rem;
}

.bookmark {
  content: url(./images/bookmark-unchecked-p.svg);
  display: block;
  position: absolute;
  right: 1rem;
  top: -0.5rem;
  width: 1rem;
  height: 1.3rem;

  animation: bouncey 7s infinite;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

.checked {
  content: none;
  content: url(./images/bookmark-p.svg);
  display: block;
  position: absolute;
  right: 1rem;
  top: -0.5rem;
  width: 1rem;
  height: 1.3rem;

  animation: bouncey 7s infinite;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@keyframes bouncey {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  84% {
    transform: scale(1, 1) translateY(0);
  }
  85% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  94% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }
  97% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  98% {
    transform: scale(1, 1) translateY(5px);
  }
  99% {
    transform: scale(1, 1) translateY(-3px);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

footer {
  background: var(--nav-color);
  display: block;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100vw;
}

footer ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

footer a:hover {
  background: var(--nav-color-lighter);
  transition: 0.3s ease-in-out;
}

footer a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1.5rem;
}

.create-form legend {
  font-size: 1.5rem;
}
.create-form fieldset {
  border: none;
}

.create-form p {
  display: flex;
  flex-direction: column;
}

.form-button {
  display: block;
  width: fit-content;
  border: none;
  border-radius: 10px;
  background: var(--button-color);
  color: var(--text-color);
  padding: 0.5rem;
}

.form-button:hover {
  background: var(--tag-color);
  color: #fff;

  transition: all 0.3s ease-in;
}

.form-button:focus {
  border: 1px dotted var(--nav-color);
  color: #fff;
}

textarea {
  font-family: "Open Sans";
  background: var(--article-color);
  color: var(--text-color);
  border: 1px dotted var(--tag-color);
  border-radius: 10px;
  margin-top: 1rem;
  width: 60%;
  padding: 0.5rem;
}

textarea::placeholder {
  color: var(--text-color-lighter);
}

.answer {
  display: none;
}

.show {
  display: block;
}
